@font-face {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 400;
    src: local('Cabin Regular'), local('Cabin-Regular'), url(Cabin-Regular.woff) format('woff');
}
@font-face {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    src: local('Cabin Bold'), local('Cabin-Bold'), url(Cabin-Bold.woff) format('woff');
}